.diff-preview-editor {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.diff-preview-editor-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  overflow: auto;
}
